*{
	margin: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}


.row:after{
	content: '';
	clear: both;
	display: block;
}

.header{
	background-color: #cadbed;
	width: 100%;
	height: 100px;
}

.logo{
	width: 25%;
	float: left;
	padding-top: 30px;
}

.menu{
	float: left;
	width: 50%;
	padding: 40px 0;
}

.search{
	float: left;
	width: 16.67%;
	padding-top: 30px;

}

.search input{
	height: 40px;
	border: none;
	/*font-size: 21px;*/
}

.car{
	float: left;
	width: 8.33%;
	position: relative;
}

.white{
	position: absolute;
	background: white;
	width: 40px;
	height: 40px;
	top: 30px;
}

.menu>li{
	display: inline-block;
	font-size: 21px;
	border-right: 2px solid #2c71b8;
	position: relative;
	/*width: 144px;*/
	height: 50px;

}
	

/*.menu li:first child{
	border-left: 2px solid #2c71b8;
}*/

.menu a{
	text-decoration: none;
	color: #2c71b8;
	font-family: 'Roboto', sans-serif;
	padding-right: 30px;
	padding-left: 30px;
	
}

.menu a:hover{
	background-color: #2c71b8;
	color: #ffffff;
}

.submenu{
	display: none;
	position: absolute;
	padding: 0;
    width: 110px;
    top: 28px;
    left: 0;
}

.submenu > li {
    display: block;
    width: 286px;
    height: 40px;
}

.submenu > li > a{
	text-decoration: none;
	background: pink;
	text-align: center;
	height: 30px;
	display: block;
	padding-top: 20px;
	font-weight: lighter;
    font-size: 21px;
    padding-right: 10px;
	padding-left: 10px;
	background-color: #2c71b8;
	color: #ffffff;
}

.submenu a:hover{
	background-color: #ffffff;
	color: #2c71b8;
}

ul.menu > li:hover > ul.submenu{
	display: block;
}

.slider{
	background-color: #235a93;
	height: 400px;
}

/*main block*/

h2{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: bold;
	padding-left: 292px;
}


.main_block{
	background-color: #3778bc;
	position: relative;
}

.filtr{
	position: absolute;
	background-color: #568dc6;
	width: 270px;
	height: 840px;
	padding: 40px 30px;
	box-sizing: border-box;
	font-size: 21px;
	line-height: 40px;
}

h4{
	font-weight: bold;
	padding-top: 20px;
}

.filtr li{
	font-weight: 100;
}

.col{
	float: left;
	width: 25%;
	box-sizing: border-box;
	height: 700px;
	
}

.row:after{
	content: '';
	clear: both;
	display: block;
}

.pr1{
	margin: 15px;
	/*width: 100%;
	height: 100%;*/
	border: 1px solid white;

}


 h3{
 	font-size: 30px;
 	font-family: 'Roboto', sans-serif;
 	color: white;
 	text-align: center;
 	margin: 10px;

 }

 p{
 	font-size: 21px;
 	font-family: 'Roboto', sans-serif;
 	color: white;
 	margin: 10px;
 }

 .upper{
 	text-transform: uppercase;
 }

 .price{
 	font-size: 48px;
 	font-weight: bold;
 	text-align: center;
 	margin: 20px;
 }

 .picture1{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product1.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture2{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product2.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture3{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product3.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture4{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product4.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture5{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product5.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture6{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product6.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture7{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product7.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture8{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product8.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

 .picture9{
 	height:180px;
	width: 100%;
	background: #cadbed;
	background-image: url(img/product9.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	position: relative;
 }

/* .picture1>div{
 	margin: 5px;
 }*/

 .border1{
 	border: 1px solid #4b86c3;
 	padding: 3px;
 	position: absolute;
 	top: 5px;
 	right: 5px;
  }

  .border2{
 	border: 1px solid #4b86c3;
 	padding: 3px;
 	position: absolute;
 	top: 42px;
 	right: 5px;
  }

 

 .buttons{
 	text-align: center;
 }

 .button1{
 	width: 208px;
 	height: 50px;
 	text-align: center;
 	font-size: 21px;
 	color: white;
 	background-color: #2c71b8;
 	margin: 10px;
 }

 .button2{
 	width: 208px;
 	height: 50px;
 	text-align: center;
 	font-size: 21px;
 	color: white;
 	background-color: #568dc6;
 	margin: 10px;
 }

 .more{
 	font-size: 36px;
 	font-weight: lighter;
 	text-align: center;
 	padding-bottom: 80px;
 	
 }
 .more a{
 	text-decoration: none;
 }

.footer{
	font-size: 21px;
	text-align: center;
	background-color: #cadbed;
	
	width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
}

.footer>div{
	color: #2c71b8; 
}